
:root {
    /* Fonts */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;


    /* Color */
    --white: #fff;
    --off-white: #f6f6f6;
    --black: #000;
    --soft-green:  #AACCCC;
    --grey-green: #24494c71;


    /* Utils */
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid ##00000030;

    /* Hero */
    --image: url("../images/carl-hunley-jr-kZ_GzLAy4WM-unsplash.webp");
}

/* Main Style setting */

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}


.hero-section {
    background-image: var(--image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95%;
    width: 95%;
   

}

.my-2 {

    margin-top: 0.5rem;
    margin-bottom: 6.5rem !important;
}


.hero-card-bg {
    background-color: rgba(143, 174, 176, 0.789);
    width: 50rem;
    border-radius: 2px;
    margin-bottom: 1rem;
    width: 24rem;
}


/* Form Styling */
.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
    
    
}

/* Buttons */

/* .btn-like {
    border: none;
    background-color: var(--white);
    font-size: 100%;
} */

.bi-chat {
    font-size: 100%;
}

/* Comments  */

.card-comment {
    border: 1px solid var(--grey-green);
    border-radius: 8px;
    margin-block: 1rem;
    margin-bottom: 1rem;
    padding-inline-start: 0.5rem;
    width: 15rem;
    height: 90%;

}

.comment-count {
    margin-left: 10px;
    width: fit-content;
    font-size: 20px;
}

.like-count {
    font-size: 20px;
    /* color: white !important; */
    display: contents;
    padding-right: 10px;
    font-weight: 100;
}

/* Footer */

footer {
    height: fit-content;
    flex-shrink: 1;
    background-color: var(--grey-green);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.social-icon {
    height: 2rem;
    margin: 1rem;
}

/* Header and Navigation */

.site-header {
    /* Hides the styling of the logo for larger screens */
    display: none;
}


.navbar-brand img {
    /* Styling of logo for small screens */
    width: 14rem;
    height: auto;
}


.nav-link {

   

    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--soft-green);

}

.nav-link.active {
    
    color: var(--bs-navbar-active-color);
}




/* a.nav-link {
    color: var(--black);


} */

/* a.nav-link:hover {
    color: var(--grey-green);


} */



.dropdown-menu {
    --bs-dropdown-min-width: 8rem;
    --bs-dropdown-border-width: 0px;

}


/* .active {
    background-color: rgba(143, 174, 176, 0.587);

} */




/* Styling Blog Post */

.card {
    margin-top: 1rem;
    /* padding: 1rem; */
    height: 90%;
    box-shadow: var(--small-box-shadow);


}

/* code from "I think therfore I blog" with some modification to fit whit my own code */
.image-flash {
    position: absolute;
    bottom: 55%;
    min-width: 30%;
    /* left: 1px; */
    background-color:rgba(143, 174, 176, 0.858);
    font-weight: 400;
    
    
}


.post {
    text-decoration: none;
    color: var(--black);
}

.post:hover {
    cursor: pointer;
}

.post-info {
    display: flex;
    flex-direction: column;
    justify-content: center;


}


.post-container {
    display: flex;
    flex-direction: column;
}

.content {
    background-color: var(--soft-green);
    border-radius: 8px;
    padding: 1rem;
}


.post-detail {
    width: 90%;

}

.post-detail a {
    text-decoration: none;
}

.post-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;


}


.post-pic {
    width: 60%;
    height: auto;
    border-radius: 8px;
}


/* Profile styling */



.profile-img img {
    border-radius: 8px;
    width: 100%;
}


.profile-card {
    margin-top: 1rem;

}


.latest-bg {
    background-color: var(--soft-green);
    margin-top: 4rem;
    margin-bottom: 4rem;

}

.lastest-card {
    width: 60%;
    margin-left: 1rem;

}


/* Styling About Page */

.about-bg {
    background-color: var(--soft-green);
}

.about-card {
    border: none;
    margin-top: 20px;

}

.about-card img {
    border-radius: 8px;
}

/* responsivn styling for tablet, laptop and desktop */

@media screen and (min-width:40em) {

    .navbar-brand img {
        /* Styling of logo for medium screens */
        width: 20rem;
    }

    .form {
        width: 50%;
    }

    .latest-bg {
        background-color: var(--soft-green);
        margin-top: 1rem;
        margin-bottom: 1rem;

    }

    .lastest-card {
        width: 100%;
    
    }
    

    .hero-section {
        height: 70vh;
        width: 90vw;

    }

    .hero-card-bg {
        width: 50rem;
    }

    .my-2 {

        margin-top: 0.5rem;
        margin-bottom: 0.5rem !important;
    }



}

@media screen and (min-width:62.5em) {

    /* Hides the styling of logo for small screens */
    .navbar-brand img {
        display: none;

    }

    /* Displays the styling of logo for large screens */
    .site-header {
        display: flex;
    }

    .site-header img {
        width: 40rem;
        height: auto;
        margin-left: 18%;
        padding-top: 4rem;

    }

    /* navbar styling for large screens */

    .navbar {

        margin-top: 3rem;
        border-bottom: 0.1px solid;

    }

    .navbar-nav>li {
        padding-left: 50px;
        padding-right: 50px;
    }


    .dropdown-menu[data-bs-popper] {
        left: 20px;
        --bs-dropdown-bg: rgb(225, 236, 238);
        top: 116%;
        --bs-dropdown-padding-y: -2.5rem;


    }

    .dropdown-menu {
        --bs-dropdown-min-width: 8rem;


    }


    .my-2 {
        margin-top: 2.5rem !important;
        margin-bottom: 4.5rem !important;
    }


    .main-title {
        width: 50%;
    }


    .post-detail {
        margin-top: 1rem;
        width: 60%;
        padding: 2rem;
    }

    .post-container,
    .post-info,
    .profile {
        flex-direction: row;

    }


    .profile-post {
        width: 70%;
        padding:  3rem;
    }

    .profile-post a {
        text-decoration: none;
    }


    .social-icon {
        height: 3rem;
        margin: 2rem;
    }

    .post-pic {
        border-radius: 8px;
    }


    .card-container {
        width: 50rem;
        padding-bottom: 3rem;

    }

    .about-bg {
        margin-top: 2rem;
    }

    

}

@media screen and (min-width:90em) {

    .site-header img {
        margin-left: 30%;
    }
}