@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Main color and image */

:root {
    /* Fonts */
    --title: 'GB Garamond', serif;
    --main-font:'Montserrat', serif;
    
    /* Color */
    --white: #FFFFFF;
    --off-white: #F7F8FA;
    --black: #000000;
    --sky-blue:#98cae0;
    --bleu-de-france: #3083dd;
    --bg-img: url('../images/cool-background.webp') no-repeat center/cover;
    
    /* Utils */
    --small-box-shadow: 1px 4px 7px 0 #00000061;
    --border: 1px solid #00000030;
}
/* Main Style setting */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color:var(--sky-blue);
}

/* Header and Navigation */

.site-header img {
    display: none; /* hide the logo for bigger screens */
}

.nav {
    visibility: hidden; /* hide navbar for bigger screens */
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px
}

/* Background image for navigation on smaller screens*/
.nav-bg {
    background:var(--bg-img);
}
.navbar-brand img {

    width: 13rem; 
    margin-top: -17px!important;
    margin: 0 auto;
}

.navbar-toggler {
    margin-right: 1rem; /* push the burger */
}

a.nav-link {
    margin-inline-start: 2rem;
    font-size: small;
    color: var(--black); 
}

.active {
    border-bottom: 1px solid var(--dark-purple);
}

.hero {
    
    height: 20rem;
}

/* Footer */

footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

/* Form Styling */
.container {
    background: var(--bg-img);
    width: 80%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
}

.form {
    text-align: left;
}
.btn {
    background: var(--bleu-de-france);
}

@media screen and (min-width: 1024px){
    .navbar-brand {
        display:none; 
        float:none;
    }
    
    .site-header {
        background:var(--bg-img);
        text-align: center;
        padding-top: 0px; 
        padding-bottom: 40px;
      
        
    }
    .site-header img {
        padding-top: 1rem;
        display: inline;
        width: 30rem;
    }
    
    .nav {
        visibility: visible;
        margin-inline-end: 2rem;
        
    }
    .nav-bg {
        background: var(--white);
    }
    .navbar {
        border: var(--border);
    }
}