@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Main color and image */

:root {
    /* Fonts */
    --title: 'GB Garamond', serif;
    --main-font:'Montserrat', serif;
    
    /* Color */
    --white: #FFFFFF;
    --off-white: #F7F8FA;
    --black: #000000;
    --sky-blue:#98cae0;
    --bleu-de-france: #3083dd;
    
    /* Utils */
    --small-box-shadow: 1px 4px 7px 0 #00000061;
    --border: 1px solid #00000030;
}
/* Main Style setting */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color:var(--white);
}

/* Footer */

footer {
    flex-shrink: 0;
    background: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}
/* Header and Navigation */

.navbar {
    background:var(--off-white);
}


img.logo {
    width:18.75rem; 
    padding-top: 1rem;
    padding-left: 1rem;
}


.active {
    border-bottom: 1px solid var(--dark-purple);
    font-weight: 500;
}


/* Form Styling */
.form  {
    background: var(--bg-img);
    width: 80%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
    text-align: left;
}


.btn {
    background: var(--bleu-de-france);
}

/* Styling Blog Post */

.card {
    height: 92%;
}

.post {
    text-decoration: none;
    color: var(--black);
}

.post:hover {
    cursor: pointer;
}

.post-info {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.post-container {
    display: flex;
    flex-direction: column;
    
}

.post-detail {
    width: 100%;
}

.post-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-pic {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 62.5em) {
    .post-info {
        flex-direction: row;
        border: 1px solid var(--black);
       
    }
    .post-img {
        width: 40%;
        margin: 0 auto;
    }

    .post-detail {
        width: 60%;
        padding: 2rem;
    }

    .post-container {
        flex-direction: row;

    }
}

    