{% extends "base.html" %}

{% block title %}Delete Post {{ object.title }}{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-2">Confirm Comment Deletion</h1>
    <div class="d-flex justify-content-center pt-3">
        <form method="post" class="text-center">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{comment.body}}"?</p>
            <input type="submit" value="Confirm" class="btn btn-danger w-25 mb-4">
            <a href="{% url 'post_detail' comment.post.id %}" role="button" class="btn btn-primary mb-4">back</a>
        </form>
    </div>
</div>
{% endblock content %}