{% extends "base.html" %}

{% block title %} Post Detail - {{post.title}}{% endblock title %}

{% block content %}
    <div class="container">
        <div class="post-info mt-3 p-1">
            <div class="post-img">
                <img src="{{ post.image.url }}" alt="post.image_alt" class="post-pic">
            </div>
            <div class="post-detail">
                <h1 class="text-center">{{ post.title }}</h1>
                <p class="text-center">Posted by {{post.author}} on {{post.created_on}}</p>
                <hr>
                <p class="p-3">{{post.excerpt}}</p>
                {% if request.user == post.author %}
                <div class="text-center">
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-primary w-25">Edit</a>
                    <a href="{% url 'delete_post' post.id %}" class="btn btn-primary w-25">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="post-container">
            <div class="content p-3">
                <p>{{post.content|safe}}</p>
                <hr>
                <div>
                    {% if user.is_authenticated %}
                    <form action="{% url 'post_like' post.id %}" method="POST">
                        {% csrf_token %}
                        {% if post_is_liked %}
                        <button type="submit" name="post_id" value="{{post.id}}" class="btn-like">
                            <i class="fas fa-heart"></i>
                        </button>
                        {% else %}
                        <button type="submit" name="post_id" value="{{post.id}}" class="btn-like">
                            <i class="far fa-heart"></i>
                        </button>
                        {% endif %}
                        <span class="text-secondary">{{ post.number_of_likes }}</span>
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="far fa-heart"></i> {{ post.number_of_likes }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

