@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

/* Main color and image */

:root {
    /* Fonts */
    --title: 'GB Garamond', serif;
    --main-font:'Roboto', serif;
    
    /* Color */
    --white: #FFFFFF;
    --off-white: #F7F8FA;
    --black: #000000;
    --sky-blue:#98cae0;
    --bleu-de-france: #3083dd;
    
    /* Utils */
    --small-box-shadow: 1px 4px 7px 0 #00000061;
    --border: 1px solid #00000030;
}
/* Main Style setting */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color:var(--white);
}

/* Footer */

footer {
    flex-shrink: 0;
    background: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}
/* Header and Navigation */

.navbar {
    background:var(--off-white);
}


img.logo {
    width:18.75rem; 
}


.active {
    border-bottom: 1px solid var(--black);
    font-weight: 500;
}


/* Form Styling */
.form  {
    width: 80%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
    text-align: left;
}

/* Styling Blog Post */

.card {
    height: 80%;
}

.post {
    text-decoration: none;
    color: var(--black);
}

.post:hover {
    cursor: pointer;
}

.post-info {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.post-container {
    display: flex;
    flex-direction: column;
    
}

.post-detail {
    width: 100%;
}

.post-img {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Profiles */
.profile-img {
    width: 280px;
    margin: 0 auto
}

.profile-img img {
    border-radius: 8px;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-info {
    width: 100%;
    text-align: center;
}

.profile-post {
    width: 70%;
}

a.profile-post h3 {
    text-decoration: none;
}

@media screen and (min-width: 62.5em) {
    .main-title {
        width: 50%;
    }
    
    .post-info {
        flex-direction: row;
        border: 1px solid var(--black);
       
    }

    .post-img {
        width: 40%;
        margin: 0 auto;
    }

    .post-detail {
        width: 60%;
        padding: 2rem;
    }

    .post-container {
        flex-direction: row;

    }

    .profile {
        flex-direction: row;
    }

    .profile-info {
        width: 30%;
    }

    .profile-post {
        width: 80%;
        padding: 1.5rem 3rem;
    }

    
}

    