@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Main color and image */

:root {
    /* Fonts */
    --title: 'GB Garamond', serif;
    --main-font:'Montserrat', serif;
    
    /* Color */
    --white: #FFFFFF;
    --black: #000000;
    --soft-green:#6a8c8f30;
    --grey-green:#24494c71;
    
    /* Utils */
    --small-box-shadow: 1px 4px 7px 0 #00000061;
    --border: 1px solid #00000030;
}
/* Main Style setting */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color:var(--white);
}

.btn-like {
    border: none;
    background-color:var(--white);
    font-size: 16px;
}

.btn-edit {
    margin-top:  1rem;
}


.card-comment {
    border: 1px solid var(--grey-green);
    border-radius: 8px;
    margin-block: 1rem;
    margin-bottom: 1rem;
    width: 30rem;
    padding: 1rem 1rem 1rem;
    height: 90%;
    
    

}
/* Footer */

footer {
    height: fit-content;
    flex-shrink: 1;
    background-color:var(--grey-green);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.social-icon {
    height: 2rem;
    margin: 1rem;
}
/* Header and Navigation */

.navbar {
    background: var(--white);
   
}


a.nav-link {
    color: var(--black);
}


img.logo {
    width:18.75rem; 
    padding-top: 1rem;
    padding-left: 1rem;
}


.active {
    border-bottom: 1px solid var(--grey-green);
    font-weight: 500;
}


/* Form Styling */
.form  {
    background: var(--bg-img);
    width: 80%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
    text-align: left;
}


/* Styling Blog Post */

.card {
    width: 20rem;
    padding: 1rem 1rem 1rem;
    height: 90%;
    box-shadow: var(--small-box-shadow);
}

.card img {
    border-radius: 8px;
    height: 16rem; 
    width: 18rem; 
 
}

.card h2 {
    font-size: 20px;
    
}

.post {
    text-decoration: none;
    color: var(--black);
}

.post:hover {
    cursor: pointer;
}

.post-info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--small-box-shadow);
    border-radius: 8px;
    border: 1px solid var(--grey-green);
   
}

.post-container {
    display: flex;
    flex-direction: column;
    background-color: var(--soft-green);
    border-radius: 8px;
}

.post-detail {
    width: 100%;
    
}

.post-detail a {
   text-decoration: none;
}

.post-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
   
}

.post-pic {
    width: 100%;
    height: auto;
    border-radius: 8px;
}



.profile-img img {
    border-radius: 8px;
    width: 100%;
}

.latest-card-container {
    width: 20rem;
    margin-left: 2rem;
    padding-bottom: 3rem;
}

.profile-card {
    margin-top:  2rem;
   
}

/* .post-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */

.latest-bg {
    background-color:var(--soft-green);
    margin-top: 4rem;
    margin-bottom: 4rem;
   
}

.about-bg {
    padding: 1rem;
    background-color: var(--soft-green);
}

.about-card {
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;

}

.about-card img {
   border-radius: 8px;
    width: 20rem;
    margin-left: 5rem;
    
}



/* .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    width: 100%;
    text-align: center;
}

.profile-post, 
.liked-posts {
    width: 100%;
} */


@media screen and (min-width: 62.5em) {
    .card h2 {
        font-size: 25px;
        
    }

    .post-info {
        flex-direction: row;
        border: 1px solid var(--grey-green);
       
       
    }
    .post-img {
        width: 40%;
        margin: 0 auto;
    }

    .post-detail {
        width: 60%;
        padding: 2rem;
    }

    .post-container {
        flex-direction: row;

    }

    .profile {
        flex-direction: row;
    }


    .profile-post, 
    .liked-posts {
        width: 70%;
        padding: 1.5rem 3rem;
    }

    .profile-post a {
        text-decoration: none;
    }
}

    